@import "tailwindcss";

@layer base {
    #bird {
        @apply z-20 bg-[url(../images/flappy-bird.png)] bg-cover bg-center bg-no-repeat
    }
    #shadow,
    #game-over,
    #high-score {
        display: none;
        visibility: hidden;
    }

    .animate-pillar {
        animation: forwards infinite linear 1.8s animatePillar;
    }

    #pillar {
        @apply bg-green-500 mx-10 h-full w-44 relative z-50
    }
    #hole {
        top: 20px;
        height: 1000px;
        @apply bg-white border-y-4 border-y-black border-x-0 w-full relative
    }
}

@keyframes animatePillar {
    from {
        right: -200px
    }
    to {
        right: 1000px
    }
}